.main-content
  nav.genre-filter
    display: flex
    flex-wrap: wrap
    flex-direction: row
    align-items: center
    padding: 1rem 0
    gap: 0.5rem 1rem
    margin: 1rem 0
    justify-content: space-between
    button
      font-weight: 600
      transition: all 100ms ease-out
      border: 2px solid $main-font-color
      background-color: none
      color: $main-font-color
      border-radius: 9999px
      padding: 10px 40px
      flex-grow: 1
      &:hover
        cursor: pointer
        background-color: $main-font-color
        color: $secondary-background
      &.active
        background-color: $main-font-color
        color: $secondary-background