.main-content
  width: $main-content-width
  background: $main-background
  display: flex
  flex-direction: column
  gap: 50px 0
  padding: 2rem
  padding-bottom: 1rem
  footer
    text-align: center
    margin-top: auto
    color: $main-font-color-darkened
  nav.search-bar
    border: 1px solid lightgray
    background: white
    width: fit-content
    height: fit-content
    font-size: 1rem
    padding: 8px 15px
    border-radius: 99999px
    display: flex
    align-items: center
    gap: 0 10px
    form
      all: unset
    svg
      font-size: inherit
      color: black
      user-select: none
      width: 10%
      background: none
    input
      font-size: inherit
      color: $secondary-font-color
      border: none
      background: none
      height: 100%
      flex-grow: 1
      &:focus
        outline: none
  nav.genre-filter
    display: flex
    flex-direction: row
    align-items: center
    overflow-x: scroll
    padding: 1rem 0
    gap: 0 1rem
    margin: 1rem 0
    button
      font-weight: 600
      transition: all 100ms ease-out
      border: 2px solid $main-font-color
      background-color: none
      color: $main-font-color
      border-radius: 9999px
      padding: 10px 40px
      &:hover
        cursor: pointer
        background-color: $main-font-color
        color: $secondary-background