:root
  --mouse-x: 20deg
  --mouse-y: 10deg
  --shine-strength: 100%
  
.movies-section
  display: flex
  flex-direction: column
  gap: inherit
  .wide .movie-list
    flex-wrap: nowrap
    .movie
      transition: all 300ms ease-out
    .movie-bounding-box
      flex-grow: 1
      min-width: 0
      height: auto
      .movie
        aspect-ratio: 1.77/1
        filter: brightness(100%) drop-shadow(0 0.5rem 0.5rem black)
        &::before
          content: ""
          background-image: linear-gradient(210deg, rgba(255, 255, 255, 0.7) 10%, rgba(255, 255, 255, 0.3) 20%, rgba(0, 0, 0, 0) 25%)
          background-repeat: no-repeat
          background-size: 1000%
          background-position-x: 77%
          height: 100%
          width: 100%
          position: absolute
          border-radius: inherit
      &:hover
        cursor: pointer
        .movie::before
          background-position-x: var(--shine-strength)
        .movie
          z-index: 100
          transform: perspective(100px) rotateX(var(--mouse-x)) rotateY(var(--mouse-y))
          outline: 1px solid white
          filter: brightness(100%) drop-shadow(0 1rem 1rem black)
    &:has(.movie-bounding-box:hover)
      .movie-bounding-box:not(:hover) .movie
        filter: brightness(50%) drop-shadow(0 0.5rem 0.5rem black)
  .tall .movie-list
    gap: 1rem
    .movie
      width: 10rem
      aspect-ratio: 2/3
      div
        transition: 0.1s all ease-in
        border-radius: inherit
        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        background: none
        color: rgba(0, 0, 0, 0)
        text-align: center
        &:hover
          color: $main-font-color
          background: rgba(0, 0, 0, 0.8)
          outline: 1px solid white
  div
    h1
      margin: 0
      margin-bottom: 20px
      font-size: 1.5rem
    .movie-list
      flex-direction: row
      flex-wrap: wrap
      display: flex
      gap: 0 1rem
      width: 100%
      .movie
        position: relative
        display: flex
        flex-direction: column
        border-radius: 5px
        &:hover
          cursor: pointer
        img
          border-radius: inherit
          height: 100%
          width: auto
        div
          position: absolute
          bottom: 0
          height: fit-content
          width: 100%
          background-color: rgba(0, 0, 0, 0.7)
          background: linear-gradient(to right, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%)
          padding: 1rem
          padding-bottom: 0.5rem
          border-radius: inherit
          border-top-right-radius: 0
          border-top-left-radius: 0
          p.movie-title
            font-size: 1rem
            font-weight: 700
          p.release-year
            font-size: 0.85rem
            font-weight: 400
          *
            margin: 0
            background: none